* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  color: rgb(37, 37, 37);
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
  justify-content: center;
}
html {
  height: 100%;
}
header {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.App {
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
  min-height: 100vh;
}

form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
}
input[type="text"] {
  padding-right: 30px;
}

.form_todo_list {
  min-width: 20%;
  font-family: "Roboto", sans-serif;
  color: #333;
  font-size: 1rem;
  padding: 0.5rem 0.5rem;
  border-radius: 0.15rem;
  background-color: rgb(255, 255, 255);
  border: none;
  transition: all 0.3s;
  outline-color: rgb(252, 220, 148);
  box-shadow: 1px 1px 2px rgb(190, 190, 190);
}

.form_todo_list:focus {
  outline-color: rgb(17, 206, 174);
}

.form_button {
  font-family: "Roboto", sans-serif;
  border-radius: 50%;
  border: none;
  margin-left: -1.5rem;
  transition: all 0.3s ease;
  cursor: pointer;
}

.form_button:hover,
.fa-plus-circle:hover {
  color: rgb(32, 235, 201) !important;
  outline: none;
}

.form_button:focus,
.edit-title-btn:focus {
  outline: none;
}

.fa-plus-circle {
  align-items: center;
  justify-content: center;
  display: flex;
  color: rgb(17, 206, 174);
  background: white;
  font-size: 1.2rem;
  outline: none;
}

.fa-pencil-alt:hover {
  color: rgb(161, 255, 189) !important;
}

.fa-pencil-alt {
  border-radius: 1rem;
  padding: 0.3rem;
  box-shadow: 0 0 3px rgb(150, 147, 147);
}

.edit-title-btn {
  color: rgb(17, 206, 174);
  padding-left: 0.6rem;
  font-size: 0.8rem;
  cursor: pointer;
  margin-left: -1.5rem;
}

.todo-container {
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  height: 50vh;
}

.todo-list {
  min-width: 15%;
  list-style: none;
}

.todo {
  margin: 0.5rem 1rem 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
  font-size: 1rem;
}

.todo li {
  background: white;
  color: black;
  border-radius: 0.15rem;
  font-size: 1rem;
  flex: 1;
  padding: 0.4rem 2rem 0.4rem 0.4rem;
  overflow: hidden;
}

.trash-btn,
.complete-btn {
  background: #ee5252;
  color: white;
  border: none;
  border-radius: 0.6rem;
  cursor: pointer;
  margin-left: 0.2rem;
  padding: 0.5rem;
}

.complete-btn:hover {
  background-color: rgb(32, 235, 201) !important;
}

.trash-btn:hover {
  background-color: #ff5b5b !important;
}

.complete-btn {
  background: rgb(5, 230, 173);
}

.todo-item {
  padding: 0rem 0.5rem;
}
.fa-trash,
.fa-check {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  background: rgb(209, 214, 216) !important;
  opacity: 0.5;
}

.popup_content {
  background-color: rgb(250, 250, 250);
  position: absolute;
  top: 20%;
  left: 30%;
  width: 40%;
  padding: 0.8rem;
  border-radius: 0.15rem;
  box-shadow: 1px 1px 8px rgb(190, 190, 190);
  min-width: 20%;
}

.close {
  float: right;
  color: rgb(99, 99, 99);
  border-radius: 1rem;
  font-size: 1.3rem;
  cursor: pointer;
}

.close:hover {
  color: rgb(226, 73, 73);
  cursor: pointer;
}

.list-container {
  position: relative;
  margin-top: 1.2rem;
}

.formatLists-todo-container {
  background-color: rgb(250, 250, 250);
  margin-bottom: 1rem;
  border-radius: 0.15rem;
  box-shadow: 1px 1px 8px rgb(190, 190, 190);
  width: 50vh;
}
.format-list-container,
.hide-window {
  padding: 2rem 4rem 1rem 4rem;
  display: flex;
  flex-wrap: wrap;
  scroll-behavior: smooth;
  justify-content: space-evenly;
}

.hide-window {
  pointer-events: none;
  filter: blur(5px);
}

.title-todolist {
  padding: 1rem 0.6rem 0.6rem 0.6rem;
  text-align: center;
  font-family: "Nobile", sans-serif;
}

.inner-container {
  padding: 0.6rem 1rem 1rem 1rem;
  flex-wrap: wrap;
  scroll-behavior: smooth;
  justify-content: space-evenly;
}
